Package: com.amm.ncwunderground
Name: WeatherUnderground for Notification Center
Depends: firmware (>= 6.1), com.saurik.substrate.safemode, com.chpwn.weeloader, com.arichardson.weepreferenceloader, mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Notification Center widget for Weather Underground.
 
 You will need your own Weather Underground API key to use this widget.
 
 Version 0.0.6:
 * Re-fixed a (re-introduced) crash caused by opening the Notification Center and closing it very quickly thereafter.
 
 Version 0.0.5:
 * Added a force refresh button to far left page.
 * Added spinners to each page to indicate that update is in progress.
 
 Version 0.0.4:
 * Fixed a memory leak.
 * Incorrect API Keys no longer crash your phone into Safe Mode.
 * Some under-the-hood fixes.
 * 12 pm/am are no longer displayed as 0 pm/am in the 'End Time' field for the hourly forecast.
 * Fixed a crash caused by opening the Notification Center and closing it very quickly thereafter.
Maintainer: Andrew MacKie-Mason <drewmm@gmail.com>
Author: Andrew MacKie-Mason <drewmm@gmail.com>
Section: Addons (NotificationCenter)
