<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bundle</key>
    <string>ncwundergroundprefs</string>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>GitHub Repository</string>
            <key>action</key>
            <string>github</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Developer</string>
            <key>action</key>
            <string>email</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>The MIT License</string>
            <key>action</key>
            <string>license</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string></string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Support through PayPal...</string>
            <key>action</key>
            <string>support</string>
        </dict>
    </array>
    <key>title</key>
    <string>About / Support</string>
</dict>
</plist>