<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bundle</key>
    <string>ncwundergroundprefs</string>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Display Options</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
            </array>
            <key>validTitles</key>
            <array>
                <string>Fahrenheit</string>
                <string>Celsius</string>
            </array>
            <key>default</key>
            <integer>0</integer>
            <key>defaults</key>
            <string>com.amm.ncwunderground</string>
            <key>key</key>
            <string>tempType</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string></string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
            </array>
            <key>validTitles</key>
            <array>
                <string>mi</string>
                <string>km</string>
            </array>
            <key>default</key>
            <integer>0</integer>
            <key>defaults</key>
            <string>com.amm.ncwunderground</string>
            <key>key</key>
            <string>distType</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string></string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
            <key>validTitles</key>
            <array>
                <string>MPH</string>
                <string>KPH</string>
                <string>Knots</string>
            </array>
            <key>default</key>
            <integer>0</integer>
            <key>defaults</key>
            <string>com.amm.ncwunderground</string>
            <key>key</key>
            <string>windType</string>
        </dict>
    </array>
    <key>title</key>
    <string>Localization</string>
</dict>
</plist>