<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundle</key>
	<string>ncwundergroundprefs</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Data Refresh Delay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>300</integer>
				<integer>600</integer>
				<integer>1200</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Instant</string>
				<string>5 min</string>
				<string>10 min</string>
				<string>20 min</string>
			</array>
			<key>default</key>
			<integer>300</integer>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>updateSeconds</string>
			<key>alignment</key>
			<string>3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hourly Forecast Length</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>3</integer>
				<integer>6</integer>
				<integer>12</integer>
				<integer>18</integer>
				<integer>36</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>3 hr</string>
				<string>6 hr</string>
				<string>12 hr</string>
				<string>18 hr</string>
				<string>36 hr</string>
			</array>
			<key>default</key>
			<integer>12</integer>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>hourlyLength</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>APIKey</string>
			<key>label</key>
			<string>API Key</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Localization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Fahrenheit</string>
				<string>Celsius</string>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>tempType</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>mi</string>
				<string>km</string>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>distType</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>MPH</string>
				<string>KPH</string>
				<string>Knots</string>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>windType</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Location</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>useCustomLocation</string>
			<key>label</key>
			<string>Use Custom Location</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>allowPWS</string>
			<key>label</key>
			<string>Personal Stations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>locationQuery</string>
			<key>label</key>
			<string>Query</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>If 'Use Custom Location' is on, the query will be passed to the Weather Underground API. Do not include spaces.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Ex: NY/New_York, England/London, 20001. Enter 'autoip' to have Weather Underground calculate your location based on your IP address.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Support through PayPal...</string>
			<key>action</key>
			<string>support</string>
		</dict>
	</array>
	<key>title</key>
	<string>NC Weather Underground</string>
</dict>
</plist>
