<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>updateMinutes</string>
			<key>label</key>
			<string>Update Interval (min)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>12</integer>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>36</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>hourlyLength</string>
			<key>label</key>
			<string>Hourly Forecast Length</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.amm.ncwunderground</string>
			<key>key</key>
			<string>APIKey</string>
			<key>label</key>
			<string>API Key</string>
		</dict>
	</array>
	<key>title</key>
	<string>NC Weather Underground</string>
</dict>
</plist>
