Package: com.amm.ncwunderground
Name: WeatherUnderground for Notification Center
Depends: firmware (>= 6.1), com.saurik.substrate.safemode, com.chpwn.weeloader, com.arichardson.weepreferenceloader, mobilesubstrate
Version: 1.3.1
Architecture: iphoneos-arm
Description: Notification Center widget for Weather Underground.
 
 NOTE: This tweak is not affiliated with, sponsored, or approved in any way by Weather Underground. I am an independent developer.
 
 This is a Notification Center widget that displays weather information from Weather Underground. To enable the widget and set your preferences, go to Settings/Notifications/Weather Underground.
 
 To use the widget you will need your own API Key from Weather Underground (this ensures that the app can remain free.) Go to http://www.wunderground.com/weather/api/d/edit.html to create a free API Key. Enter your information and select "Create a New Key." Then select the "Anvil Plan" and the "Developer" option. Enter your API Key on the preferences page at Settings/Notifications/Weather Underground.
 
 NCWunderground is open source. You can find the GitHub repo (including more detailed installation instructions and the ability to submit bug reports) at https://github.com/andrewmm/ncwunderground.
 
 Version 1.3.1:
 * Fixed an error that caused a crash when using km/h due to a change in Weather Underground's API.
 
 Version 1.3.0:
 * The widget no longer asks for permission to access your location after every respring.
 * Settings menu is more organized, with sub-panes.
 * Added an option to only update data manually.
 * Respects 12hr/24hr time settings.
 * German localization.
 * Romanian localization, thanks to dborca.
 
 Version 1.2.0:
 * Support for various units (°F/°C, MPH/KPH/Knots, mi/km)
 * Chinese (Traditional and Simplified) localization thanks to Thomas Chan. If you would like to translate this widget into your own language, get in touch with me!
 * Added option to allow user to specify location rather than using current GPS location.
 * Added option to control whether Personal Weather Stations are included.
 * Tapping the main icon now opens the mobile Weather Underground website rather than the full site.
 * Should resolve bug where widget would occasionally get stuck loading.
Maintainer: Andrew MacKie-Mason <drewmm@gmail.com>
Author: Andrew MacKie-Mason <drewmm@gmail.com>
Section: Addons (NotificationCenter)
